/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .backgroundLogin {
  /* background: linear-gradient(120deg, #000, #fff 100%); */
  background-image: url('/img/Ocean-2.4s-3000px.svg');
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
